@import './colors.scss';

.event1{
  background-color: $OFF;
}

.event2{
  background-color: $SB;
}

.event3{
  background-color: $D;
}

.event4{
  background-color: $ON;
}

.event1_icon{
  color: $OFF;
}

.event2_icon{
  color: $SB;
}

.event3_icon{
  color: $D;
}

.event4_icon{
  color: $ON;
}

.grey_icon{
  color: $e2e-grey;
}

.speedButton{
  background-color: $speed;
}

.purple_icon{
  color: $speed;
}

.timeButton{
  background-color: $time;
}

.green_icon{
  color: $time;
}

.speedButton, .timeButton{
  border-radius: 2px;
  padding: 2px 7px;
  color: white;
  font-size: 90%;
  }



table {
  margin-top: 2rem;

}

thead, tbody, tr, td, th { display: block; }

tr:after {
content: ' ';
display: block;
visibility: hidden;
clear: both;
}

thead th {
height: 40px;

/*text-align: left;*/
}

tbody {
height: 300px;
overflow-y: auto;
}

thead {
/* fallback */
}


tbody td, thead th {
width: 33%;
float: left;
}

.default {
  background: none;
  border: none;
}

button{
  padding-right: 0px !important;
}

button:focus {
  outline:0 !important;
}
