.summary{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #fff;
  padding: 5px;
  margin: 10px 0px;
  // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  // border-style: solid;
  border: 1px solid #dee2e6;
  // border-color: #6a757b;
}

.summary p{
  margin-bottom: 0px;
}

.barChart{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

// taken from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip

.tooltip {
  padding: 5px;
}
