.summary{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #fff;
  padding: 5px;
  margin: 10px 0px;
  border-radius: 2px;
  border: 1px solid #dee2e6;
}

.summary p{
  margin-bottom: 0px;
}

.barChart{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.tooltip {
  padding: 5px;
}
