.app { min-height: 100vh; }
.appBody, .appMain{ flex: 1; }
.app, .appBody {
  display: flex;
  flex-direction: column;
}

.centerArea{
  background: white;
}

.appNavbar{
  margin-bottom: 60px;
}

.appMain{
  display: flex;
}

.centerArea{
  flex: 1 1 auto;
  margin-top: 1rem;
}
.leftSidebar{
  flex: 0 1 15em;
  order: -1;
  margin-right: 2rem;
}

@media (max-width: 680px) {
  .leftSidebar{
    width: 116px;
    flex: 0 1 50px;
    position: relative;
  }
}
