@import './colors.scss';

.navbar{
  background-color: darken($e2e-grey, 25%);
  color: white;
  height: 75px;
}

.logo{
  height: 70px;
  width: auto;
}

div button{
  padding-right: 0px !important;
  background: transparent;
  border: none;
}

div button:focus {
  outline:0 !important;
}

.selected-flag{
  border: 2px solid $e2e-green;
  border-radius: 2px;
}

// .flags{
//   margin-left: auto;
// }


// .naw_wrapper {
//   display: flex;
//   flex-grow: 1;
// }
//
// .left {
//   flex: 0 0 20%;
// }
//
// .right {
//   flex: 1;
// }
