@import './colors.scss';

.sidebar {
  background: lighten($e2e-grey, 45%);
  color: lighten($e2e-grey, 50%);
  min-height: 700px;
  position: fixed;
  width: 220px;
 }

.nav-button:hover {
  background-color: black; }

.disabledCursor {
  cursor: default;
  background-color: #dadee1; }

.disabledCursor:hover {
  background-color: #dadee1; }


@media (max-width: 800px) {
  .sidebar{
    width: 150px;
  }
}