@import './colors.scss';

.sidebar {
  background: lighten($e2e-grey, 45%);
  color: lighten($e2e-grey, 50%);
  min-height: 700px;
  position: fixed;
  width: 220px;
 }

.nav-button:hover {
  background-color: black; }

.disabledCursor {
  cursor: default;
  background-color: #dadee1; }

.disabledCursor:hover {
  background-color: #dadee1; }

.sidebarBtn {
  border-radius: 0px
}

.sidebarBtn:hover {
  background-color:#dedede;
}

@media (max-width: 800px) {
  .sidebar{
    width: 150px;
  }
}

@media (max-width: 680px) {
  .sidebar{
    width: 116px;
    flex: 0 1 50px;
    position: relative;
  }
}